behaviors:
  PrisonAgentRay:
    trainer_type: ppo
    hyperparameters:
      batch_size: 3036
      buffer_size: 45540
      learning_rate: 0.0005
      beta: 0.01
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 3
      learning_rate_schedule: linear
    network_settings:
      normalize: false
      hidden_units: 256
      num_layers: 2
      vis_encode_type: simple
    behavioral_cloning:
      # demo_path: Demonstrations/Room5.demo
      demo_path: ../Demos/Room4V1.demo
      # demo_path: 'C:\Temp\Y4 S2\VR\Create-with-VR_2020LTS\Eindproject -jailbreaker\Assets\Demonstrations\Room1Cur.demo'
      strength: 1.0
      steps: 150000
      samples_per_update: 0
    reward_signals:
      extrinsic:
        strength: 1
        gamma: 0.99
      gail:
        gamma: 0.99
        strength: 0.1
        network_settings:
          normalize: false
          hidden_units: 128
          num_layers: 2
          vis_encode_type: simple
        learning_rate: 0.0003
        use_actions: false
        use_vail: false
        demo_path: ../Demos/Room4V1.demo
        # demo_path: Demonstrations/Room5.demo
        # demo_path: 'C:\Temp\Y4 S2\VR\Create-with-VR_2020LTS\Eindproject -jailbreaker\Assets\Demonstrations\Room1Cur.demo'
      curiosity:
        strength: 0.5
        gamma: 0.99
        learning_rate: 3e-4
    keep_checkpoints: 5
    max_steps: 5.0e7
    time_horizon: 64
    summary_freq: 3000


# behaviors:
#   PrisonAgentRay:
#     trainer_type: ppo
#     hyperparameters:
#       batch_size: 20
#       buffer_size: 150
#       learning_rate: 1.0e-3
#       beta: 0.01
#       epsilon: 0.2
#       lambd: 0.99
#       num_epoch: 3
#       learning_rate_schedule: linear
#       beta_schedule: constant
#       epsilon_schedule: linear
#     network_settings:
#       normalize: false
#       hidden_units: 128
#       num_layers: 2
#     reward_signals:
#       extrinsic:
#         gamma: 0.99
#         strength: 1.0
#     max_steps: 5000000
#     time_horizon: 64
#     summary_freq: 3500
#     keep_checkpoints: 5
#     checkpoint_interval: 500000



