behaviors:
  PrisonAgentRay:
    trainer: ppo
    batch_size: 128
    beta: 0.01
    buffer_size: 2048
    epsilon: 0.2
    hidden_units: 512
    lambd: 0.95
    learning_rate: 0.0003
    max_steps: 1.0e7
    memory_size: 256
    normalize: false
    num_epoch: 3
    num_layers: 2
    time_horizon: 128
    sequence_length: 64
    summary_freq: 30000
    use_recurrent: false
    reward_signals:
      extrinsic:
        strength: 1.0
        gamma: 0.99
      curiosity:
        strength: 0.02
        gamma: 0.99
        encoding_size: 256
      gail:
        strength: 0.01
        gamma: 0.99
        encoding_size: 128
        demo_path: Demonstrations/final.demo



        
# behaviors:
#   PrisonAgentRay:
#     trainer_type: ppo
#     hyperparameters:
#       batch_size: 20
#       buffer_size: 150
#       learning_rate: 1.0e-3
#       beta: 0.01
#       epsilon: 0.2
#       lambd: 0.99
#       num_epoch: 5
#       learning_rate_schedule: linear
#       beta_schedule: constant
#       epsilon_schedule: linear
#     network_settings:
#       normalize: false
#       hidden_units: 128
#       num_layers: 3
#     reward_signals:
#       extrinsic:
#         gamma: 0.995
#         strength: 1.0
#     max_steps: 5000000
#     time_horizon: 64
#     summary_freq: 3500